.article-wrapper {
    margin-top: 15px !important;
    box-shadow: 0px 0px 4px 2px darkgrey !important;
    padding: 15px 0 !important;
}
img {
    width: 350px;
    height: 250px;
}
a{
    color: #000000 !important;
    font-weight: 700;
    font-size: 18px;
}
.pagination {
    display: inline-block;
}

.pagination input {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.d-none{
    display: none;
}
.mt-2{
    margin-top: 15px !important;
}